<div id="<%= dom_id telegram %>">
  <%= image_tag telegram.cover.url, width: 400 %>
  <br><br>
  <%= image_tag telegram.avatar.url, width: 100 %>

  <p>
    <strong>Name:</strong>
    <%= telegram.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= telegram.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= telegram.url %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= telegram.avatar %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= telegram.cover %>
  </p>

</div>
